/*Обнуление*/
*,
b::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: #fff;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: Montserrat;
    background-color: #333;
}

/* ------------------------------------------------------------------------------------ */

/*Класс для того, чтобы не было скролла по иксу */
.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    /*Пишется max-width*/
    max-width: 1280px;
    margin: 0 auto;
    /*Избегание прилипания к краю*/
    padding: 0 15px;
    box-sizing: content-box;
}

/*фоновое изображение*/
.ibg {
    position: relative;
}

.ibg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------- header ---------- */

header {
    background-color: rgb(39, 39, 39);
    position: fixed;
    width: 100%;
    z-index: 15;
}

.navigation {
    display: flex;
    padding: 20px 0px;
}

.navigation>*:not(:last-child) {
    margin-right: 20px;
}

.navigation__item:hover {
    color: #3c3;
    cursor: pointer;
}

/* ---------- section ---------- */

.section__title {
    font-size: 22px;
    margin: 20px 0px;
    text-align: center;
}

/* ---------- columns ---------- */

.column_white {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 15px;
}

.section__columns {
    display: flex;
    justify-content: space-around;
}

.section__columns > *:not(:last-child) {
    margin-right: 20px;
}

.column__header {
    font-size: 18px;
    margin-bottom: 10px;
}

.column__list > *:not(:last-child) {
    margin-bottom: 5px;
}
.column__item{
    display: flex;
    align-items: center;
}

.column__icon {
    display: flex;
    margin-right: 5px;
}

.column__attention {
    color: #000;
    font-weight: 500;
    font-style: italic;
}

/* ---------- section "Resume" ---------- */

.resume {
    margin-top: 70px;
}

.user {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}

.user_ibg {
    width: 200px;
    height: 200px;
}

.user_ibg img {
    background: linear-gradient(to right, red, purple);
    padding: 4px;
    border-radius: 4px;
}

.user__info {
    margin-left: 20px;
}

.user-info__list > *:not(:last-child) {
    margin-bottom: 5px;
}

.user-info__item {
    display: flex;
}

.user-info__item > *:not(:last-child) {
    margin-right: 10px;
}

.user-info__title {
    color: rgb(0, 255, 128);
}



/* ---------- section "Skills" ---------- */

.skills__header {
    color: rgb(0, 255, 128);
}

/* ---------- section "Benefit" ---------- */

.benefit .column__list > *:not(:last-child) {
    margin-bottom: 10px;
}

.benefit .column {
    width: 400px;
}

.benefit__header {
    color: #000;
    text-align: center;
    font-weight: 500;
}

.benefit__title {
    color: #000;
}
