.gallery {
    padding: 20px 20px 0px;
}

.gallery:last-child{
    padding: 20px;
}

.gallery__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.gallery__item {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.gallery__item:hover {
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: 0px 2px 4px 4px rgb(0 0 0 / 25%);
}
.gallery__image {
    height: 200px;
}
.gallery__image img {
    padding: 5px;
}

/* -------------------- Media -------------------- */

@media (max-width:1080px) {
    .gallery__list {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media (max-width:880px) {
    .gallery__list {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (max-width:680px) {
    .gallery__list {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width:460px) {
    .gallery__list {
        grid-template-columns: 1fr
    }
}
